.modalOverlay {
  z-index: 99;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
