.red {
  color: #e74c3c;
}

.yellow {
  color: #f39c12;
}

.blue {
  color: #3498db;
}

.green {
  color: #2ecc71;
}

.orange {
  color: #e67e22;
}

.purple {
  color: #9b59b6;
}

.cyan {
  color: #1abc9c;
}

.gold {
  color: #d4a574;
}

.brown {
  color: #be6524;
}
