.container {
  position: relative;
}

.button {
  top: 1.5rem; /* Adjust as needed */
  left: 1.5rem; /* Adjust as needed */
  z-index: 60;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  padding: 10px;
}

.panel {
  top: 0;
  left: 0;
  transform: translateX(0);
  z-index: 50;
  transition: transform 300ms ease-in-out;
  max-width: 28rem; /* Adjust as needed */
  height: 75vh;
}

.panelClosed {
  transform: translateX(-100%);
}

.panelContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100%;
}
